@import "../../style/vars.scss";

$main-elem-color: rgb(238, 255, 0);

.body {}

.title_row {
  display: inline-block;
  cursor: pointer;
  font-size: 50px;
  padding-bottom: 20px;
  color: white;
  border-radius: 5px;


  &:hover {
    color: red;
  }
}

.content_row {
  margin-bottom: 50px;
}