@import "../../style/App.scss";

.backdrops_block {}

.backdrops_content {
  color: wheat;
  margin: 0 -10px;
}

.backdrop_item {
  padding: 10px;
  position: relative;

  img {
    aspect-ratio: 16 / 9;
    max-width: 100%;
  }
}

.full_scren_btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
}

.posters_block {}

.posters_content {
  margin: 0 -10px;
}

.poster_item {
  padding: 10px;
  position: relative;

}