@import "../../style/App.scss";


.poster_details {
  display: flex;
  // justify-content: space-around;
  // justify-content: space-between;
  column-gap: 20px;
  position: relative;
  padding-top: 40px;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;

  @media (max-width:(800px)) {
    display: block;
  }
}

.poster {
  text-align: center;

  img {
    max-width: 475px;
    @include adaptiveValue("width", 475, 250, 1440, 800, 1);
    @include adaptiveValue("width", 475, 250, 800, 350, 1);
  }
}


.movie_details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 1000px;

  >div:not(:last-child) {
    padding-bottom: 20px;
  }
}

.name_title {
  font-size: 3em;
  padding: 20px 0;
}

.time_year_rate_block {
  display: flex;
  column-gap: 20px;
}

.vote_average {}

.genres {
  display: flex;
  gap: 15px;

  a {
    color: white;

    &:hover {
      color: red;
    }
  }
}

.genr {
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
}

.overview {
  max-width: 450px;
  line-height: 1.2;

  @media (max-width:(800px)) {
    max-width: 100%;

  }
}

.runtime {
  display: inline-block;
}

.cast_block {
  position: relative;
  max-width: 900px;
  // padding-right: 30px;
  @include adaptiveValue("width", 1000, 600, 1500, 1200, 1);
  @include adaptiveValue("width", 600, 400, 1200, 450, 1);
  @include adaptiveValue("width", 800, 400, 800, 450, 1);

  @media (max-width:(800px)) {
    padding-right: 0;
    max-width: 100%;

  }

  display: flex;
  flex-direction: column;
}

.cast_block_title {
  color: red;
}

.cast_items {}

.cast_item {
  // cursor: pointer;
  position: relative;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
  }
}

.actor_name {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
}