$skeletonBgColor: rgb(48, 48, 48);
$BordrRds: 8px;


.main {
  height: 500px;
  background-color: black;

  @media (min-width:(1080px)) {
    height: 600px;
  }

  @media (min-width:(1500px)) {
    height: 700px;
  }

}

.baner_content {
  padding-top: 7rem;
  padding-left: 5rem;
  max-width: 440px;
}


.baner_title {
  background-color: $skeletonBgColor;
  border-radius: $BordrRds;
  height: 3rem;
  width: 100%;
}

.baner_btns {
  padding-top: 2rem;
  display: flex;
  gap: 20px;

}

.baner_btn {
  background-color: $skeletonBgColor;
  border-radius: $BordrRds;
  height: 1.5rem;
  width: 40px;
}

.baner_description {
  background-color: $skeletonBgColor;
  border-radius: $BordrRds;
  height: 100px;
  margin-top: 2rem;
  max-width: 400px;

}

.previews_item {
  display: flex;
  flex-direction: column;
}

.previews_title {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
  // background-color: $skeletonBgColor;
  border-radius: $BordrRds;

}

.previews_images {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: flex;
  gap: 10px;
}

.skeleton_promo_item {
  padding: 0 10px;
}

.promo_item_bg {
  background-color: $skeletonBgColor;
  min-height: 230px;
  aspect-ratio: 2/3;
}

.previews_img {
  min-height: 200px;
  max-height: 275px;
  margin: 20px;
  flex: 0 1 184px;
  background-color: $skeletonBgColor;
  border-radius: $BordrRds;
}