.movies_block {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  row-gap: 10px;
  justify-content: space-around;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.searchOptions {

  display: flex;
  gap: 10px;
  // color: #960000;
}