@import "../../style/vars.scss";
@import "../../style/mixins.scss";

// .wrapper {
//   position: absolute;
//   top: 0;
//   z-index: 2;
// }


.header1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.header_container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  color: white;
  font-size: $fzmain;
}

.search_block {
  display: flex;
  justify-content: center;
}

input {
  color: white;
  background-color: transparent;
}

.search_logo {
  cursor: pointer;
  color: white;
}

.search {
  border-bottom: 1px solid white;

}

.search_block {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search_result_block {
  position: absolute;
  top: 30px;
  right: 0;
}