@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600");



//=====================<ПЕРЕМЕННЫЕ>======================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1440;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 24;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты

$md1: $containerWidth;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$pc: $containerWidth;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;
//=====================</ПЕРЕМЕННЫЕ>===============================================================


$fzmain: 40px;
$fontFamily: "Poppins";