.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.content {
  text-align: center;
  color: red;
}

.code_error {
  font-size: 5rem;
}

.text_error {
  font-size: 1.5rem;
  text-transform: uppercase;
}