@import "../../style/vars.scss";

$main-elem-color: rgb(238, 255, 0);

.item {
  cursor: pointer;
  padding: 0 10px;
  overflow: hidden;
  position: relative;

  &:hover {
    scale: 1.05;
    border-radius: 12px;

    .description_body {
      opacity: 1;
    }

    img {
      filter: brightness(25%);
      // border-radius: 30px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.description_body {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 15px;
}

.title_poster {
  font-size: 1.2rem;
  font-weight: bold;
  color: $main-elem-color
}

.vote_date_poster {
  display: flex;
  gap: 15px;
}

.vote_poster {
  font-weight: bold;
  color: white;
  padding: 5px;
  border: 1px solid $main-elem-color;
  border-radius: 3px;
}

.data_poster {
  color: white;
  padding: 5px;
  border: 1px solid $main-elem-color;
  border-radius: 3px;
}

.genres_poster {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.genreItem {
  color: white;
  padding: 5px;
  border: 1px solid $main-elem-color;
  border-radius: 3px;
}