@import "../../style/vars.scss";



.menu {
  padding: 0 15px;
}

.body {
  display: flex;
  gap: 25px;
  color: white;
}

.item {
  cursor: pointer;
  color: white;

  &:hover {
    color: red;
  }

  .active {
    color: rgb(255, 0, 0);
  }
}