@import "../../style/vars.scss";
@import "@style/App.scss";



.menu {
  padding: 0 15px;
}

.body {
  display: flex;
  gap: 25px;
  // color: white;

  @media (max-width:(400px)) {
    gap: 10px;
  }
}

.item {
  color: white;

  &:hover {
    color: rgb(255, 0, 0);
  }

  // &.active {
  //   color: rgb(255, 0, 234) ;
  //   font-size: 50px;
  // }
}