.main {
  position: relative;
  height: 500px;
  color: white;
  object-fit: contain;

  @media (min-width:(1080px)) {
    height: 600px;
  }

  @media (min-width:(1500px)) {
    height: 700px;
  }


  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.83) 20%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.45) 70%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 50%;
  //   background: linear-gradient(to top, rgba(0, 0, 0, 0.83) 20%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.45) 70%, rgba(0, 0, 0, 0) 100%);
  // }
}

.baner_content {
  position: relative;
  z-index: 10;
  padding-top: 7rem;
  padding-left: 5rem;
  max-width: 440px;
}

.baner_title {
  font-size: 3rem;
}

.baner_btns {
  padding-top: 2rem;
  display: flex;
  gap: 20px;

}

.baner_btn {}

.baner_description {
  line-height: 1.2rem;
  padding-top: 2rem;
  max-width: 400px;

}